$cmp: ".education";

#{$cmp} {
  font-family: 'GilroyMedium', sans-serif;
  background-repeat: no-repeat;
  padding-top: 75px;
  min-height: 685px;
  font-size: 0;
  background-size: cover;
  background-position: center;

  &__content-block {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__info {
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: "PFDinCondensedRegular", sans-serif;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0B163E;
    width: 400px;
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #0B163E;
    width: 300px;

  }

  @media only screen and (max-width: 960px) {
    min-height: 750px;
    padding-top: 40px;

    &__content-block {
      max-width: 708px;
    }

    &__info {
      flex-direction: column;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
    }

    &__title {
      width: 100%;
      margin-bottom: 25px;
      font-size: 25px;
    }

    &__text {
      width: 100%;
    }
  }
}