$cmp: ".types-rugby";

#{$cmp} {
  font-family: 'GilroyMedium', sans-serif;
  background-color: #0B163E;
  color: #FFFFFF;
  padding-top: 145px;
  position: relative;
  min-height: 770px;
  box-sizing: border-box;


  &__content {
    display: flex;
    flex-direction: column;
    max-width: 940px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
  }

  &__title {
    align-self: flex-start;
    text-transform: uppercase;
    color: #FFB800;
    font-size: 30px;
    font-family: "PFDinCondensedRegular", sans-serif;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    padding-right: 70px;
    background-color: #0B163E;
  }

  &__desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;

    span {
      width: 300px;
    }
  }

  .bg {
    height: 770px;
    width: 100%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
    top: 0;
    left: 0;
  }

  .tv {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
  }

  @media only screen and (max-width: 960px) {

    padding-top: 50px;
    min-height: auto;
    font-size: 0;

    &__content {
      max-width: 708px;
      justify-content: center;
    }

    &__title {
      font-size: 25px;
      max-width: 100%;
      margin: 0 20px;
      padding-bottom: 10px;
      border-bottom: 5px solid #FFB800;
    }

    &__desc {
      max-width: 100%;
      padding: 20px;
      flex-direction: column;

      span {
        width: 100%;
      }
    }

    .tv {
      position: relative;
    }

    .bg {
      display: none;
    }
  }
}