@font-face {
  font-family: 'Gilroy';
  src: local('MyFont'), url(./fonts/Gilroy-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'GilroyMedium';
  src: local('MyFont'), url(./fonts/Gilroy-Medium.ttf) format('ttf');
}

@font-face {
  font-family: "PFDinCondensedRegular";
  src: url("./fonts/PFDinCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PFDinCondensedBold";
  src: url("./fonts/D-DINCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
}
img {
  max-width: 100%;
}
.container {
width: 100%;
margin: 0 auto;
}